<!-- Modal -->
<div class="modal fade" id="detailfasilitator{{row[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detail User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2>ID User : {{ row[0] }}</h2>
          <hr>
          <pre>
Nama Lengkap	: {{ row [1] }}
Alamat   	: {{ row [2] }}
Kontak  	: {{ row [3] }}
CV   	        : <a href="{{ row[4] }}" target="_blank">{{ row[4] }}</a>
Status   	: {{ row [5] }}
        </pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>