<!-- Modal -->
<div class="modal fade" id="ucapanselamat{{data_hasil[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Selamat karena Telah Menyelesaikan Program</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="img" style="text-align:center;">
                <img src="../static/home/images/logo_remedy.jpg">
            </div>
            <p style="text-align:center;">REMEDY</p>
            <p style="text-align:center;">Remaja Merdeka Bullying</p>
            <br>
            <p style="text-align:justify;">{{session.name}} hebat!</p>
            <p style="text-align:justify;">Anda berhasil menyelesaikan perjalanan mengatasi trauma bersama REMEDY!</p>
            <p style="text-align:justify;">Anda telah melalui proses yang berat dan kami bangga atas pencapaian Anda!</p>
            <br>
            <p style="text-align:justify;">Yuk, intip sekilas perjalanan Anda!</p>
            <p style="text-align:justify;">Awalnya Anda memiliki tingkat trauma yang {{ tingkat }} dan sekarang telah mengalami penurunan sebanyak {{ skor_beda }} poin pada kategori {{ tingkat_akhir }} Anda telah mengikuti berbagai kegiatan individual dan pertemuan kelompok selama 8 minggu lho!</p>
            <p style="text-align:justify;">Kami sangat mengapresiasi ketekunan dan kegigihan Anda untuk bangkit!</p>
            <br>
            <p style="text-align:justify;">Tidak terasa, tiba saatnya mengucapkan selamat tinggal.</p>
            <p style="text-align:justify;">Ingat untuk menjaga kesehatan fisik dan jiwa ya!</p>
            <br>
            <p style="text-align:justify;">Ceritakan perjalanan Anda bersama REMEDY dan kabar gembira ini ke keluarga dan teman! Mari, bantu mereka yang berada di posisi kamu sebelumnya dengan trauma bullying atau perundungan yang dialami.</p>
            <br>
            <p style="text-align:center;">Jiwa Bebas Kekangan, Merdeka Untuk Berkembang</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>