<!-- Modal -->
<div class="modal fade" id="update_seleksi_psikolog{{row[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Seleksi Psikolog</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <div class="container">
             <div class="row">
                <div class="col">
                    <form action="{{ url_for('update_seleksi_psikolog')}}" method="post">
                    <div class="mb-3">
                      <label for="nama" class="form-label"></label>
                      <input type="hidden" class="form-control" id="id" name="id" value="{{ row[0] }}">
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select class="form-select" aria-label="Default select example" name="status">
                          <option value="Menunggu">Menunggu</option>
                          <option value="Diterima">Diterima</option>
                          <option value="Ditolak">Ditolak</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" onclick="confirm('Anda Yakin');">Update Status</button>
                    </div>

                    </form>

                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>