<!-- Modal -->
<div class="modal fade" id="update_komunitas{{row[2]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Status Komunitas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <div class="container">
             <div class="row">
                <div class="col">
                    <form action="{{ url_for('update_komunitas')}}" method="post">
                        <h2>Nama Grup : {{ row[2] }}</h2>
                        <br>
                        <h6>Pertemuan ke-{{ row[4] }}</h6>
                        <hr>
                    <div class="mb-3">
                      <label for="nama" class="form-label"></label>
                      <input type="hidden" class="form-control" id="nama" name="nama" value="{{ row[2] }}">
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select class="form-select" aria-label="Default select example" name="status">
                          <option value="Sudah">Sudah</option>
                          <option value="Belum">Belum</option>
                        </select>
                    </div>
                    <div class="mb-3">
                      <label for="pertemuan" class="form-label"></label>
                      <input type="hidden" class="form-control" id="pertemuan" name="pertemuan" value="{{ row[4] }}">
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" onclick="confirm('Anda Yakin');">Update Status</button>
                    </div>

                    </form>

                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>